@layer slate-components-1 {
  :is(slate-container, [slate-container]) {
    /* Normalize */
    display: block;
    box-sizing: border-box;
    position: relative;

    margin: 0 auto;
    inline-size: 100%;
    max-inline-size: var(--breakpoint-lg);
  }

  :is(slate-container, [slate-container])[size='xs'] {
    max-inline-size: var(--breakpoint-xs);
  }
  :is(slate-container, [slate-container])[size='sm'] {
    max-inline-size: var(--breakpoint-sm);
  }
  :is(slate-container, [slate-container])[size='md'] {
    max-inline-size: var(--breakpoint-md);
  }
  :is(slate-container, [slate-container])[size='lg'] {
    max-inline-size: var(--breakpoint-lg);
  }
  :is(slate-container, [slate-container])[size='xl'] {
    max-inline-size: var(--breakpoint-xl);
  }
  :is(slate-container, [slate-container])[size='2xl'] {
    max-inline-size: var(--breakpoint-2xl);
  }

  :is(slate-container, [slate-container])[align='start'] {
    margin: 0;
  }
  :is(slate-container, [slate-container])[align='center'] {
    margin: 0 auto;
  }
  :is(slate-container, [slate-container])[align='end'] {
    margin: 0 0 0 auto;
  }
}
