<link href="https://fonts.googleapis.com/css?family=Lato:400,900|Montserrat:600|Lora:400" rel="stylesheet" />

html, body {
font-size: 10px;
}

h1 {
margin-bottom: 4rem;
font-family: Lato;
font-size: 7.62939453125em;
line-height: 8rem;
font-weight: 900;
font-style: normal;
letter-spacing: 0em;
}

h2 {
margin-bottom: 4rem;
font-family: Lato;
font-size: 6.103515625em;
line-height: 8rem;
font-weight: 900;
font-style: normal;
letter-spacing: 0em;
}

h3 {
margin-bottom: 4rem;
font-family: Lato;
font-size: 4.8828125em;
line-height: 8rem;
font-weight: 900;
font-style: normal;
letter-spacing: 0em;
}

h4 {
margin-bottom: 4rem;
font-family: Lato;
font-size: 3.90625em;
line-height: 4rem;
font-weight: 900;
font-style: normal;
letter-spacing: 0em;
}

h5 {
margin-bottom: 4rem;
font-family: Lato;
font-size: 3.125em;
line-height: 4rem;
font-weight: 900;
font-style: normal;
letter-spacing: 0em;
}

h6 {
margin-bottom: 4rem;
font-family: Lato;
font-size: 2.5em;
line-height: 4rem;
font-weight: 900;
font-style: normal;
letter-spacing: 0em;
}

p {
margin-bottom: 4rem;
font-family: Lato;
font-size: 2.0em;
line-height: 4rem;
font-weight: 400;
font-style: normal;
letter-spacing: 0em;
}

@media screen and (max-width: 720px) {
h1 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 6.103515625em;
line-height: 9rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}
h2 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 4.8828125em;
line-height: 6rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}
h3 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 3.90625em;
line-height: 6rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}
h4 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 3.125em;
line-height: 6rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}
h5 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 2.5em;
line-height: 3rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}
h6 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 2em;
line-height: 3rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}
p {
margin-bottom: 3rem;
font-family: Lora;
font-size: 1.6em;
line-height: 3rem;
font-weight: 400;
font-style: normal;
letter-spacing: 0em;
}
}
