@layer slate-components-1 {
  slate-app-bar {
    /* Normalize */
    display: block;
    box-sizing: border-box;
    position: relative;

    inline-size: 100%;
    border-block-end: var(--border-size-sm) solid hsl(var(--color-border));
    background-color: hsl(var(--color-background-primary));
  }
}
