@layer slate-components-1 {
  :is(slate-field-set, [slate-field-set]) {
    /* Normalize */
    display: block;
    box-sizing: border-box;
    position: relative;

    border: none;
    padding: 0;
  }

  /* TODO - Capsize trim text */
  :is(slate-field-set, [slate-field-set]) legend {
    --text-font-size: var(--text-md-font-size);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-font-size);
    line-height: 1.2;
    color: hsl(var(--color-text-primary));
  }
}
