@layer slate-components-1 {
  slate-card {
    /* Normalize */
    display: block;
    box-sizing: border-box;
    position: relative;

    border-radius: var(--border-radius-md);
    border: var(--border-size-sm) solid hsl(var(--color-border));
    padding: var(--spacing-md);
    box-shadow: var(--shadow-sm);
  }

  slate-card[radius='sm'] {
    border-radius: var(--border-radius-sm);
  }
  slate-card[radius='md'] {
    border-radius: var(--border-radius-md);
  }
  slate-card[radius='lg'] {
    border-radius: var(--border-radius-lg);
  }
  slate-card[radius='xl'] {
    border-radius: var(--border-radius-xl);
  }

  slate-card[shadow='xs'] {
    box-shadow: var(--shadow-xs);
  }
  slate-card[shadow='sm'] {
    box-shadow: var(--shadow-sm);
  }
  slate-card[shadow='md'] {
    box-shadow: var(--shadow-md);
  }
  slate-card[shadow='lg'] {
    box-shadow: var(--shadow-lg);
  }
  slate-card[shadow='xl'] {
    box-shadow: var(--shadow-xl);
  }
}
