@layer slate-components-1 {
  [slate-link] {
    /* Normalize */
    box-sizing: border-box;
    position: relative;

    flex-direction: row;
    align-items: center;
    gap: var(--spacing-3xs);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-none);
    color: inherit;
    text-decoration: inherit;

    /* Defaults - display */
    display: inline-flex;
  }

  [slate-link]:hover {
    text-decoration: underline;
  }

  [slate-link][display='inline'] {
    display: inline-flex;
  }

  [slate-link][display='block'] {
    display: flex;
  }
}
