@layer slate-components-1 {
  :is(slate-field, [slate-field]) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);
  }

  /* TODO - Capsize trim text */
  :is(slate-field, [slate-field]) label {
    --text-font-size: var(--text-sm-font-size);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-font-size);
    line-height: 1.2;
    color: hsl(var(--color-text-primary));
  }

  :is(slate-field, [slate-field]) input[type='text'] {
    appearance: none;
    border-radius: var(--border-radius-sm);
    border: var(--border-size-sm) solid hsl(var(--color-border));
    padding-block: var(--spacing-4xs);
    padding-inline: var(--spacing-2xs);
    block-size: calc(var(--size-lg) - 2 * var(--border-size-sm));
    background-color: hsl(var(--color-background-secondary));
    color: var(--color-text-primary);
    font-family: inherit;
    /* Font size shouldn't fall below 16px, so it doesn't zoom in on mobile */
    font-size: max(16px, var(--text-md-font-size));
    line-height: var(--text-md-line-height);
  }

  :is(slate-field, [slate-field]) input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  :is(slate-field, [slate-field]):has(input:disabled) :is(label, input) {
    color: hsl(var(--color-text-secondary));
  }

  :is(slate-field, [slate-field]) input[type='text']::placeholder {
    color: hsl(var(--color-text-secondary));
  }

  :is(slate-field, [slate-field]):has(
      input[type='checkbox'],
      input[type='radio']
    ) {
    flex-direction: row;
    align-items: center;
  }

  :is(slate-field, [slate-field]) input[type='checkbox'] {
    appearance: none;
    border-radius: var(--border-radius-sm);
    box-shadow: inset 0 0 0 var(--border-size-sm) hsl(var(--color-border));
    inline-size: var(--size-md);
    block-size: var(--size-md);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: hsl(var(--color-background-secondary));
    font-family: inherit;
  }

  :is(slate-field, [slate-field]) input[type='checkbox']:checked::before {
    content: '';
    display: block;
    border-radius: var(--border-radius-sm);
    inline-size: var(--size-md);
    block-size: var(--size-md);
    position: absolute;
    inset: 0;
    background-color: var(--color-brand-700);
  }

  :is(slate-field, [slate-field]) input[type='checkbox']:checked::after {
    content: '';
    display: block;
    inline-size: var(--size-sm);
    block-size: var(--size-sm);
    background-color: hsl(var(--color-neutral-0));
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  :is(slate-field, [slate-field]) input[type='radio'] {
    appearance: none;
    border-radius: var(--border-radius-full);
    box-shadow: inset 0 0 0 var(--border-size-sm) hsl(var(--color-border));
    inline-size: var(--size-md);
    block-size: var(--size-md);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: hsl(var(--color-background-secondary));
    font-family: inherit;
  }

  :is(slate-field, [slate-field]) input[type='radio']:checked {
    box-shadow: inset 0 0 0 var(--border-size-md) var(--color-brand-500);
  }

  :is(slate-field, [slate-field]) input[type='radio']:checked::after {
    content: '';
    display: block;
    border-radius: var(--border-radius-full);
    inline-size: var(--size-xs);
    block-size: var(--size-xs);
    background-color: var(--color-brand-700);
  }
}
