@layer slate-components-2 {
  slate-content {
    /* Normalize */
    box-sizing: border-box;
    position: relative;
  }

  slate-content :is(h1, h2, h3, h4, h5, h6, p, ul, li) {
    margin: var(--spacing-none);
    font-size: var(--content-font-size);
    line-height: var(--content-line-height);
  }

  slate-content :is(h1, h2, h3, h4, h5, h6, p)::before {
    content: '';
    display: table;
    margin-block-end: var(--content-margin-before);
  }

  slate-content :is(h1, h2, h3, h4, h5, h6, p)::after {
    content: '';
    display: table;
    margin-block-start: var(--content-margin-after);
  }

  slate-content :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-family-heading);
  }

  slate-content h1 {
    font-weight: var(--font-weight-light);
    --content-font-size: var(--text-5xl-font-size);
    --content-line-height: var(--text-5xl-line-height);
    --content-margin-before: var(--text-5xl-margin-before);
    --content-margin-after: var(--text-5xl-margin-after);
  }
  slate-content h2 {
    font-weight: var(--font-weight-normal);
    --content-font-size: var(--text-3xl-font-size);
    --content-line-height: var(--text-3xl-line-height);
    --content-margin-before: var(--text-3xl-margin-before);
    --content-margin-after: var(--text-3xl-margin-after);
  }
  slate-content h3 {
    font-weight: var(--font-weight-normal);
    --content-font-size: var(--text-2xl-font-size);
    --content-line-height: var(--text-2xl-line-height);
    --content-margin-before: var(--text-2xl-margin-before);
    --content-margin-after: var(--text-2xl-margin-after);
  }
  slate-content h4 {
    font-weight: var(--font-weight-normal);
    --content-font-size: var(--text-xl-font-size);
    --content-line-height: var(--text-xl-line-height);
    --content-margin-before: var(--text-xl-margin-before);
    --content-margin-after: var(--text-xl-margin-after);
  }
  slate-content h5 {
    font-weight: var(--font-weight-normal);
    --content-font-size: var(--text-lg-font-size);
    --content-line-height: var(--text-lg-line-height);
    --content-margin-before: var(--text-lg-margin-before);
    --content-margin-after: var(--text-lg-margin-after);
  }
  slate-content h6 {
    font-weight: var(--font-weight-bold);
    --content-font-size: var(--text-md-font-size);
    --content-line-height: var(--text-md-line-height);
    --content-margin-before: var(--text-md-margin-before);
    --content-margin-after: var(--text-md-margin-after);
  }

  slate-content :is(p, li) {
    --content-font-size: var(--text-lg-font-size);
    --content-line-height: var(--text-lg-line-height);
    --content-margin-before: var(--text-lg-margin-before);
    --content-margin-after: var(--text-lg-margin-after);
  }

  slate-content a {
    color: var(--color-brand-700);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
  }
  slate-content a:hover {
    text-decoration: underline;
  }

  slate-content img {
    border-radius: var(--border-radius-md);
    display: block;
    margin: var(--spacing-lg) calc(-1 * var(--spacing-xs));
    inline-size: calc(100% + 2 * var(--spacing-xs));
    block-size: auto;
  }

  slate-content pre {
    border-radius: var(--border-radius-md);
    margin-inline-start: calc(-1 * var(--spacing-xs));
    margin-inline-end: calc(-1 * var(--spacing-xs));
    padding: var(--spacing-xs);
    background: hsl(var(--color-neutral-700));
    color: hsl(var(--color-neutral-0));
    tab-size: 2;
  }

  slate-content ul {
    padding-inline-start: var(--spacing-sm);
  }

  slate-content :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
    margin-block-start: var(--spacing-3xl);
  }
  slate-content :is(p, pre, ul):not(:first-child) {
    margin-block-start: var(--spacing-lg);
  }
  slate-content li:not(:first-child) {
    margin-block-start: var(--spacing-xs);
  }

  slate-content h1:not(:last-child) {
    margin-block-end: var(--spacing-4xl);
  }

  slate-content :is(h2, h3, h4, h5, h6):not(:last-child) {
    margin-block-end: var(--spacing-lg);
  }
  slate-content :is(p, pre, ul):not(:last-child) {
    margin-block-end: var(--spacing-lg);
  }
  slate-content li:not(:last-child) {
    margin-block-end: var(--spacing-xs);
  }
}
