div:has(> .docblock-code-toggle) {
  position: relative;
  background: #f6f9fc;
}

.docblock-argstable-body button {
  cursor: pointer !important;
}

.docblock-code-toggle.docblock-code-toggle {
  border: none;
  padding: 12px 10px 12px 32px;
  inline-size: 100%;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  color: rgba(46, 52, 56, 0.6);
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14' width='14px' height='14px' fill='rgba(46, 52, 56, 0.6)'%3E%3Cpath d='m11.1 7.35-5.5 5.5a.5.5 0 0 1-.7-.7L10.04 7 4.9 1.85a.5.5 0 1 1 .7-.7l5.5 5.5c.2.2.2.5 0 .7Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 12px center;
}

.docblock-code-toggle--expanded.docblock-code-toggle--expanded {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14' width='14px' height='14px' fill='rgba(46, 52, 56, 0.6)'%3E%3Cpath d='m1.15 5.6 5.5 5.5c.2.2.5.2.7 0l5.5-5.5a.5.5 0 0 0-.7-.7L7 10.04 1.85 4.9a.5.5 0 1 0-.7.7Z'%3E%3C/path%3E%3C/svg%3E");
}

.docblock-code-toggle.docblock-code-toggle:focus {
  box-shadow: none;
}
