@layer slate-components-1 {
  /**
   * <slate-app-nav>
   */
  slate-app-nav {
    /* Normalize */
    box-sizing: border-box;
    position: relative;
    /* Fix for deprecated [align] attribute */
    text-align: initial;

    display: flex;
    flex-direction: row;
    inline-size: 100%;

    /* Defaults - align */
    align-items: center;
    /* Defaults - gap */
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-3xs);
    /* Defaults - justify */
    justify-content: flex-start;
  }

  slate-app-nav[align='start'] {
    align-items: start;
  }
  slate-app-nav[align='center'] {
    align-items: center;
  }
  slate-app-nav[align='end'] {
    align-items: end;
  }

  /* TODO - Shared CSS for shared props? */
  slate-app-nav[gap='4xs'] {
    column-gap: var(--spacing-4xs);
  }
  slate-app-nav[gap='3xs'] {
    column-gap: var(--spacing-3xs);
  }
  slate-app-nav[gap='2xs'] {
    column-gap: var(--spacing-2xs);
  }
  slate-app-nav[gap='xs'] {
    column-gap: var(--spacing-xs);
  }
  slate-app-nav[gap='sm'] {
    column-gap: var(--spacing-sm);
  }
  slate-app-nav[gap='md'] {
    column-gap: var(--spacing-md);
  }
  slate-app-nav[gap='lg'] {
    column-gap: var(--spacing-lg);
  }
  slate-app-nav[gap='xl'] {
    column-gap: var(--spacing-xl);
  }
  slate-app-nav[gap='2xl'] {
    column-gap: var(--spacing-2xl);
  }
  slate-app-nav[gap='3xl'] {
    column-gap: var(--spacing-3xl);
  }
  slate-app-nav[gap='4xl'] {
    column-gap: var(--spacing-4xl);
  }
  slate-app-nav[gap='5xl'] {
    column-gap: var(--spacing-5xl);
  }
  slate-app-nav[gap='6xl'] {
    column-gap: var(--spacing-6xl);
  }
  slate-app-nav[gap='7xl'] {
    column-gap: var(--spacing-7xl);
  }
  slate-app-nav[gap='full'] {
    justify-content: space-between;
    column-gap: var(--spacing-3xs);
  }

  slate-app-nav[justify='start'] {
    justify-content: flex-start;
  }
  slate-app-nav[justify='center'] {
    justify-content: center;
  }
  slate-app-nav[justify='end'] {
    justify-content: flex-end;
  }
  slate-app-nav[justify='stretch'] {
    justify-content: stretch;
  }
  slate-app-nav[justify='around'] {
    justify-content: space-around;
  }
  slate-app-nav[justify='between'] {
    justify-content: space-between;
  }
  slate-app-nav[justify='evenly'] {
    justify-content: space-evenly;
  }

  slate-app-nav[wrap] {
    flex-wrap: wrap;
  }

  slate-app-nav[open] slate-app-nav-content {
    translate: 0 0;
  }

  /**
   * <slate-app-nav-content>
   */
  slate-app-nav-content {
    /* Normalize */
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: var(--spacing-sm); */
    min-block-size: var(--size-xl);
    inline-size: 320px;
    max-inline-size: calc(100% - var(--spacing-sm));
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
    translate: -100% 0;
    border-inline-end: var(--border-size-sm) solid hsl(var(--color-border));
    background-color: hsl(var(--color-background-primary));
    z-index: var(--z-index-forward);
    transition: translate 0.2s ease;

    /* Defaults - gap */
    gap: var(--spacing-md);
  }

  @media (--viewport-sm) {
    slate-app-nav-content {
      padding-inline: var(--spacing-sm);
      row-gap: var(--spacing-3xs);
      flex-direction: row;
      align-items: center;
      position: relative;
      border-inline-end: none;
      translate: 0 0;
    }
  }

  /* TODO - Shared CSS for shared props? */
  slate-app-nav-content[gap='4xs'] {
    gap: var(--spacing-4xs);
  }
  slate-app-nav-content[gap='3xs'] {
    gap: var(--spacing-3xs);
  }
  slate-app-nav-content[gap='2xs'] {
    gap: var(--spacing-2xs);
  }
  slate-app-nav-content[gap='xs'] {
    gap: var(--spacing-xs);
  }
  slate-app-nav-content[gap='sm'] {
    gap: var(--spacing-sm);
  }
  slate-app-nav-content[gap='md'] {
    gap: var(--spacing-md);
  }
  slate-app-nav-content[gap='lg'] {
    gap: var(--spacing-lg);
  }
  slate-app-nav-content[gap='xl'] {
    gap: var(--spacing-xl);
  }
  slate-app-nav-content[gap='2xl'] {
    gap: var(--spacing-2xl);
  }
  slate-app-nav-content[gap='3xl'] {
    gap: var(--spacing-3xl);
  }
  slate-app-nav-content[gap='4xl'] {
    gap: var(--spacing-4xl);
  }
  slate-app-nav-content[gap='5xl'] {
    gap: var(--spacing-5xl);
  }
  slate-app-nav-content[gap='6xl'] {
    gap: var(--spacing-6xl);
  }
  slate-app-nav-content[gap='7xl'] {
    gap: var(--spacing-7xl);
  }
  slate-app-nav-content[gap='full'] {
    justify-content: space-between;
    gap: var(--spacing-3xs);
  }

  /**
   * <slate-app-nav-menu-button>
   * <slate-app-nav-close-button>
   */
  slate-app-nav-menu-button,
  slate-app-nav-close-button {
    /* Normalize */
    display: block;
    box-sizing: border-box;
    position: relative;
  }

  slate-app-nav-menu-button button,
  slate-app-nav-close-button button {
    border: none;
    padding: var(--spacing-none);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-inline-size: var(--size-lg);
    min-block-size: var(--size-lg);
    appearance: none;
    color: hsl(var(--color-icon-primary));
    background-color: transparent;
    cursor: pointer;
  }

  @media (--viewport-sm) {
    slate-app-nav-menu-button,
    slate-app-nav-close-button {
      display: none;
    }
  }

  slate-app-nav-close-button {
    position: absolute;
    inset-block-start: var(--spacing-4xs);
    inset-inline-end: var(--spacing-4xs);
  }
}
