@layer slate-components-1 {
  :is(slate-stack, [slate-stack]) {
    /* Normalize */
    box-sizing: border-box;
    position: relative;

    display: flex;
    /* Fix for deprecated [align] attribute */
    text-align: initial;

    /* Defaults - align */
    align-items: start;
    /* Defaults - direction */
    flex-direction: column;
    /* Defaults - gap */
    gap: var(--spacing-md);
  }

  :is(slate-stack, [slate-stack])[align='baseline'] {
    align-items: baseline;
  }
  :is(slate-stack, [slate-stack])[align='start'] {
    align-items: flex-start;
  }
  :is(slate-stack, [slate-stack])[align='center'] {
    align-items: center;
  }
  :is(slate-stack, [slate-stack])[align='end'] {
    align-items: flex-end;
  }
  :is(slate-stack, [slate-stack])[align='stretch'] {
    align-items: stretch;
  }

  :is(slate-stack, [slate-stack])[direction='row'] {
    flex-direction: row;
  }
  :is(slate-stack, [slate-stack])[direction='column'] {
    flex-direction: column;
  }

  :is(slate-stack, [slate-stack])[gap='4xs'] {
    gap: var(--spacing-4xs);
  }
  :is(slate-stack, [slate-stack])[gap='3xs'] {
    gap: var(--spacing-3xs);
  }
  :is(slate-stack, [slate-stack])[gap='2xs'] {
    gap: var(--spacing-2xs);
  }
  :is(slate-stack, [slate-stack])[gap='xs'] {
    gap: var(--spacing-xs);
  }
  :is(slate-stack, [slate-stack])[gap='sm'] {
    gap: var(--spacing-sm);
  }
  :is(slate-stack, [slate-stack])[gap='md'] {
    gap: var(--spacing-md);
  }
  :is(slate-stack, [slate-stack])[gap='lg'] {
    gap: var(--spacing-lg);
  }
  :is(slate-stack, [slate-stack])[gap='xl'] {
    gap: var(--spacing-xl);
  }
  :is(slate-stack, [slate-stack])[gap='2xl'] {
    gap: var(--spacing-2xl);
  }
  :is(slate-stack, [slate-stack])[gap='3xl'] {
    gap: var(--spacing-3xl);
  }
  :is(slate-stack, [slate-stack])[gap='4xl'] {
    gap: var(--spacing-4xl);
  }
  :is(slate-stack, [slate-stack])[gap='5xl'] {
    gap: var(--spacing-5xl);
  }
  :is(slate-stack, [slate-stack])[gap='6xl'] {
    gap: var(--spacing-6xl);
  }
  :is(slate-stack, [slate-stack])[gap='7xl'] {
    gap: var(--spacing-7xl);
  }
  :is(slate-stack, [slate-stack])[gap='full'] {
    justify-content: space-between;
    gap: var(--spacing-3xs);
  }

  :is(slate-stack, [slate-stack])[justify='start'] {
    justify-content: flex-start;
  }
  :is(slate-stack, [slate-stack])[justify='center'] {
    justify-content: center;
  }
  :is(slate-stack, [slate-stack])[justify='end'] {
    justify-content: flex-end;
  }
  :is(slate-stack, [slate-stack])[justify='stretch'] {
    justify-content: stretch;
  }

  :is(slate-stack, [slate-stack])[wrap] {
    flex-wrap: wrap;
  }
}
