@layer slate-components-1 {
  slate-stack {
    /* Normalize */
    box-sizing: border-box;
    position: relative;

    display: flex;
    /* Fix for deprecated [align] attribute */
    text-align: initial;

    /* Defaults - align */
    align-items: start;
    /* Defaults - direction */
    flex-direction: column;
    /* Defaults - gap */
    gap: var(--spacing-md);
  }

  slate-stack[align='baseline'] {
    align-items: baseline;
  }
  slate-stack[align='start'] {
    align-items: flex-start;
  }
  slate-stack[align='center'] {
    align-items: center;
  }
  slate-stack[align='end'] {
    align-items: flex-end;
  }
  slate-stack[align='stretch'] {
    align-items: stretch;
  }

  slate-stack[direction='row'] {
    flex-direction: row;
  }
  slate-stack[direction='column'] {
    flex-direction: column;
  }

  slate-stack[gap='4xs'] {
    gap: var(--spacing-4xs);
  }
  slate-stack[gap='3xs'] {
    gap: var(--spacing-3xs);
  }
  slate-stack[gap='2xs'] {
    gap: var(--spacing-2xs);
  }
  slate-stack[gap='xs'] {
    gap: var(--spacing-xs);
  }
  slate-stack[gap='sm'] {
    gap: var(--spacing-sm);
  }
  slate-stack[gap='md'] {
    gap: var(--spacing-md);
  }
  slate-stack[gap='lg'] {
    gap: var(--spacing-lg);
  }
  slate-stack[gap='xl'] {
    gap: var(--spacing-xl);
  }
  slate-stack[gap='2xl'] {
    gap: var(--spacing-2xl);
  }
  slate-stack[gap='3xl'] {
    gap: var(--spacing-3xl);
  }
  slate-stack[gap='4xl'] {
    gap: var(--spacing-4xl);
  }
  slate-stack[gap='5xl'] {
    gap: var(--spacing-5xl);
  }
  slate-stack[gap='6xl'] {
    gap: var(--spacing-6xl);
  }
  slate-stack[gap='7xl'] {
    gap: var(--spacing-7xl);
  }
  slate-stack[gap='full'] {
    justify-content: space-between;
    gap: var(--spacing-3xs);
  }

  slate-stack[justify='start'] {
    justify-content: flex-start;
  }
  slate-stack[justify='center'] {
    justify-content: center;
  }
  slate-stack[justify='end'] {
    justify-content: flex-end;
  }
  slate-stack[justify='stretch'] {
    justify-content: stretch;
  }

  slate-stack[wrap] {
    flex-wrap: wrap;
  }
}
